body {
    background-image: url(../../assets/images/avengers-endgame01.jpg);
    padding-top:10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
  
  }



  #header, #start, #counter {
    background: rgba(0, 0, 0, 0.7);  
  }

  h1 {
    color: whitesmoke;
    text-align: center;
  }

  #counter {
    font-size: 20px;
  }

  p {
    text-align: center;
    size: 30px;
  }

  #top {
    height: 100px;
  }

  #bottom {
    height: 300px;
    text-align: center;
  }
 